doctype html
html(lang="en")
    head
        include common/bootstrap.pug
        title Document
    body
        div 
            ul 
                li 
                    a(href="home") Home
                li 
                    a(href="login") login
                li 
                    a(href="signup") Sign Up
